{% extends 'TikitTikitBundle::layout_boots.html.twig' %}

{% block content -%}
    <h1>Petition creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('petition') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
